{{ define "header" }}
      <meta name="twitter:title" content="{{.Title }}">
{{ end }}
{{ define "breadcrumb" }}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Projects</a></li>
                <li class="breadcrumb-item"><a href="/meetup-recordings">Meetup Recordings</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ .Page.Title }}</li>
            </ol>
        </nav>
{{ end }}
{{ define "main" }}
{{ $audioJsonUrl := replace "https://theaudiodb.com/api/v1/json/2/track.php?h=ID" "ID" .Params.audioDbId }}
{{ $audioJson := resources.GetRemote $audioJsonUrl | transform.Unmarshal }}
{{ $audioProps := index $audioJson.track 0 }}
<div class="row">
  <div class="col-12 col-md-6">
    <h1>{{ $audioProps.strTrack }} - {{ $audioProps.strArtist }}</h1>
    {{ if $audioProps.idArtist }}
    {{ $artistJsonUrl := replace "https://theaudiodb.com/api/v1/json/2/artist.php?i=ID" "ID" $audioProps.idArtist }}
    {{ $artistJson := resources.GetRemote $artistJsonUrl | transform.Unmarshal }}
    {{ $artistProps := index $artistJson.artists 0 }}
    {{ if $artistProps.strArtistBanner }}
    {{ $bannerImg := resources.GetRemote $artistProps.strArtistBanner }}
    {{ $bannerImgScale := $bannerImg.Resize "636x" }}
    <div>
      <a href="https://theaudiodb.com/artist/{{ $audioProps.idArtist}}">
        <img alt="{{$artistProps.strArtist}}" class="img-fluid" src="{{$bannerImgScale.RelPermalink}}">
      </a>
    </div>
    <div></div>
    {{ end }}
    {{ end }}
    <div>
      <dl>
        <dt>Meetup project</dt>
        <dd><a href="{{.Params.meetup}}">{{.Params.meetup}}</a></dd>
      </dl>
    </div>
    {{ if .Params.youtube -}}
    <div>
      <h2>Video</h2>
      <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden">
        <iframe src="https://www.youtube-nocookie.com/embed/{{ .Params.youtube }}"
          style="position:absolute;top:0;left:0;width:100%;height:100%;border:0" allowfullscreen
          title="YouTube Video"></iframe>
      </div>
    </div>
    {{ end -}}
    {{ if .Params.soundcloud -}}
    <div>
      <h2>Mix</h2>
      <iframe title="soundcloud" width="100%" height="166" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ .Params.soundcloud }}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    </div>
    {{ end -}}
    {{ if .Params.artists }}
    <div>
      <h2>Artists</h2>
      <dl>
        {{ range .Params.artists }}
        <dt>{{ .voice }}</dt>
        <dd>{{ .name }}</dd>
        {{ end }}
      </dl>
    </div>
    {{ end }}
  </div>
  <div class="col-12 col-md-6">
    {{ if .Params.status }}
    <p>Status: {{.Params.status }}</p>
    {{ end }}
    {{ .Content }}
  </div>
</div>
<script type='application/ld+json'>
  {
    "@context": "http://schema.org/",
    "type": "ItemPage",
    "dateCreated": "{{ .Params.recordingDate }}",
    "dateModified": "{{ .Page.Lastmod }}",
    "datePublished": "{{ .Page.PublishDate }}",
    {{ if .Params.youtube }}
    "video": {
      "@type": "VideoObject",
      "name": "{{ .Page.Title }}",
      "uploadDate": "{{ .Page.PublishDate }}",
      "embedUrl": "https://youtu.be/{{ .Params.youtube }}",
      "thumbnailUrl": "https://img.youtube.com/vi/{{ .Params.youtube }}/default.jpg"
    },
    {{ end }}
    "recordedAt": {
      "type": "Event",
      "startDate": "{{.Params.recordingDate }}",
      {{ with .Params.artists }}
      "performer": [
      {{ $performer := apply . "partial" "json-ld-performer" "." }}
      {{ delimit $performer "," | safeJS }}
      ],
      {{ end }}
      "location": {
        "type": "Place",
        "address": {
          "type": "PostalAddress",
          "addressCountry": "Germany",
          "addressLocality": "München",
          "addressRegion": "BY",
          "postalCode": "81549",
          "streetAddress": "Neuschwansteinplatz 12"
        },
        "name": "Nachbarschaftstreff Giesing",
        "sameAs": "https://www.nt-giesing.de/"
      },
      "name": "{{ .Page.Title }}"
      {{ if .Params.meetup }},
      "url": "{{.Params.meetup}}"
      {{ end }}
    },
    "url": "{{ .Page.Permalink }}",
    "breadcrumb": {
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "DullCovers!",
        "item": "https://dullcovers.eu/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Meetup Recordings",
        "item": "https://dullcovers.eu/meetup-recordings/"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "{{ .Page.Title }}",
        "item": "{{ .Page.Permalink }}"
      }]
    }
  }
</script>
{{ end }}