{{ define "breadcrumb" }}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Projects</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
            </ol>
        </nav>
{{ end }}
{{ define "main" }}
<main>
    <article>
        <header>
            <h2>{{.Title}}</h2>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
    </article>
    <ul>
    <!-- Ranges through content/recordings/*.md -->
    {{- range .Pages }}
        <li>
            {{ (time .Params.recordingDate).Format "January 2, 2006" }} <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
    {{- end }}
    </ul>
</main>
{{ end }}