{{ define "breadcrumb" }}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Projects</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                </ol>
            </nav>
{{- end }}
{{ define "main" }}
        <article>
            <h2>{{ .Title }}</h2>
{{ .Content }}
        </article>
{{ end }}