{{ define "breadcrumb" }}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Not found</li>
    </ol>
</nav>
{{ end }}
{{ define "main" }}
<h2>Page was not found</h2>
<p>Checkout the different projects</p>
<h2>Current Projects</h2>
<article>
    <h3><a href="/meetup-recordings">Meetup Recordings</a></h3>
    <p>So far, these recordings happen in scope of the <a
            href="https://www.meetup.com/musicloversmeetup-munich/">Amateur Musicians Munich</a>. Search for
        "<em>Recording Session</em>"".</em>
    </p>
</article>
<h2>Past Projects</h2>
<article>
    <h3><a href="/corona-recordings">Corona Recordings</a></h3>
    <p>This project started in 2021 during the corona pandemic. We recorded several songs, each track by someone else,
        and mixed them at the end.</p>
</article>
{{end }}