{{ define "main" }}
        <div class="row">
            <div class="col-lg-7">
                <h2>Current Projects</h2>
                <article class="card">
                    <div class="card-body">
                        <h3 class="card-title"><a href="/meetup-recordings">Meetup Recordings</a></h3>
                        <p class="card-text">
                            These recordings happen in scope of the <a
                                href="https://www.meetup.com/musicloversmeetup-munich/">Amateur Musicians Munich</a>. I
                            currently don't organise further meetings.
                        </p>
                    </div>
                    <iframe class="card-img-bottom" width="100%" height="400"
                        src="https://www.youtube-nocookie.com/embed/videoseries?list=PLYA18PjJlxqkA14BwJDOrhf3xHz3HYyhb"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </article>
            </div>
            <div class="col-lg-5">
                <h2>Past Projects</h2>
                <article class="card">
                    <div class="card-body">
                        <h3 class="card-title"><a href="/corona-recordings">Corona Recordings</a></h3>
                        <p class="card-text">This recording project started in 2021 during the corona pandemic, and ended after.</p>
                    </div>
                    <iframe class="card-img-bottom" title="SoundCloud player" width="100%" height="400" scrolling="no"
                        frameborder="no" allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1223001253&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                </article>
            </div>
        </div>
{{ end }}